:host {
  display: inline-block;
  max-width: 400px;
  margin: 10px;
  text-align: center;
}
img {
  max-width: 100%;
}
.health {
  background-color: #bb0000;
  height: 10px;
}
.health div {
  background-color: #00bb00;
  height: 100%;
}
.property {
  display: inline-block;
  font-size: 14px;
  margin: 4px;
  color: grey;
}
.property.active {
  color: white;
}
.images {
  position: relative;
}
.images .pilot {
  position: absolute;
  bottom: 45px;
  right: 0;
  width: 30%;
}
