:host {
  display: block;
  background-image: url('/assets/404.jpg');
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100vw;
}

.link-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 250px;
  height: 50px;
  background: #b00000;
  border: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
}
