<h1>Hangar</h1>
<div class="row">
  <div class="col-6">
    <app-space-ship *ngFor="let spaceShip of spaceShips | async" [spaceShip]="spaceShip">
      <button *ngIf="selectedPilot && !spaceShip.pilot" (click)="assignPilot(spaceShip)">Pilotuj</button>
      <button *ngIf="spaceShip.pilot" (click)="deassignPilot(spaceShip)">Opuść</button>
    </app-space-ship>
  </div>
  <div class="col-6">
    <app-pilot-room (selected)="selectedPilot = $event"></app-pilot-room>
    <app-engineers-room></app-engineers-room>
  </div>
</div>
