<h1>Pilot Room
  <button class="add-button" [routerLink]="['pilots', 'new']">
    + Dodaj
  </button>
</h1>
<app-pilot *ngFor="let p of pilots" [pilot]="p" [class.selected]="selectedPilot === p">
  <button class="edit-button" [routerLink]="['pilots', p.id]">
    Edytuj
  </button>
  <button *ngIf="selectedPilot !== p; else deselectButton" class="select-button" (click)="select(p)">
    Zaznacz
  </button>
  <ng-template #deselectButton>
    <button class="deselect-button" (click)="select(null)">
      Odznacz
    </button>
  </ng-template>
</app-pilot>
